- if current_user.role == "admin" || current_user.role == "paid"
  = form_for [wiki] do |f|
    .form-group
    = fields_for :user do |u|
      = u.text_field :email, placeholder: 'Enter Email', id: 'user-email', class: 'form-control'
      .form-group
      = f.submit "Add Collaborator", class: 'btn btn-success'
- else
  Upgrade to add collaborators