.collaborator
  - if current_user.role?(:admin) || current_user.role?(:paid)
    Collaborator
  - else
    = link_to [wiki, Collaborator.new], class: 'btn btn-primary', method: :wiki do
      %i.glyphicon.glyphicon-star>
      \  Collaborate