%h1 Welcome to Viki
%p Vincents Viki which is like a Wiki only run by Vincents

- if policy(Wiki.new).create?
  = link_to "New Wiki", new_wiki_path, class: 'btn btn-success'

- @wikis.each do |wiki|
  %p= link_to wiki.title, wiki
  = wiki.users.inspect
  = wiki.inspect
  

